{% extends 'base.html' %}

{% block content%}
<div class="container">
  <div class="" style="display: flex;flex-direction: column; height: 100vh; align-items: center; justify-content: center;"> 
    <h3 style="text-align: center;">Silahkan Pilih Asal dan Tujuan Sekolah</h3>
    <div class="" style="flex-direction: row; display: flex;">
    <div class="" style="padding: 20px;">
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Sekolah Asal</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="" style="padding: 20px;">
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Sekolah Tujuan</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
  </div>
  <a href="{% url 'dashboardsiswa' %}" class="btn btn-warning">Pilih</a>
  </div>
</div>
{% endblock content%}